<div class="archives-wrap" style="margin: 0px;">
    <div class="archives-category-wrap">
        <blockquote>
        <% if(site.categories.length) { %>
          <%- list_categories(site.categories) %>
        <% } %>
        </blockquote>
    </div>

    <% hierarchicalCategoryList().map(function(category) { %>
    <div class="archives-wrap">
        <div class="archive-year-wrap" id="<%= category.name %>">
            <h1 class="archive-category"><%= category.name %></h1>
        </div>
        <div class="archives">
            <% category.posts.sort('-date').map(function(post, i){  %>
                <%- partial('_partial/archive-post', {post: post, index: true}) %>
                <% if (post.subtitle && post.subtitle.length) { %>
                    <h3 class="post-subtitle">
                        <%- post.subtitle %>
                    </h3>
                <% } %>
            <% }) %>
        </div>
    </div>
    <% }) %>
</div>