<%- partial('_partial/head') %>
<%- partial('_partial/jsHelper') %>

<% if (is_post()){ %>
  <body data-spy="scroll" data-target="#toc" data-offset="50">
<% } else {%>
  <body>
<% } %>

  <%- partial('_partial/header-post', null, {cache: !config.relative_link}) %>

  <div id="container">
    <div id="wrap">
            
      <div id="content" class="outer">
        <% if (theme.sidebar && theme.sidebar !== 'bottom' && !is_post()){ %>
          <section id="main"><%- body %></section>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } else {%>
          <section id="main" style="float:none;"><%- body %></section>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>

  <a id="rocket" href="#top" class=""></a>
  <script type="text/javascript" src="/js/totop.js" async=""></script>
</body>
</html>
