<div id="donation_div"></div>

<%- js('js/vdonate') %>
<script>
var a = new Donate({
  title: '<%- theme.donate.message %>',
  btnText: '<%= __('donation.button_text') %>',
  el: document.getElementById('donation_div'),
  wechatImage: '<%- theme.donate.wechatImage %>',
  alipayImage: '<%- theme.donate.alipayImage %>'
});
</script>