<footer id="footer" class="site-footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="clearfix container">
      <div class="site-info">
	      &copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %> Todos los derechos reservados.
      </div>
      <div class="site-credit">
        <%= __('theme_by') %> <a href="https://github.com/cdeunesr/hexo-theme-realize" target="_blank"> - Realize</a>
      </div>
  </div>
</footer>

<!-- min height -->

<script>
    var contentdiv = document.getElementById("content");
    contentdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";
</script>

<!-- Custome JS -->
<%- js('js/my.js') %>